@use "global" as *;

.layout-breadcrumb {
  margin-top: rem(8);
}


.layout-breadcrumb.layout-breadcrumb--404 {
  color: $base;
  margin-top: rem(86);
  @include mq(md){
    margin-top: rem(110);
  }
}