@charset "UTF-8";
/*
 * 参考
 * https: //github.com/Andy-set-studio/modern-css-reset/blob/master/src/reset.css
*/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/*****************************************
 * 数値から単位を取り除く
 * 参考
 * https: //css-tricks.com/snippets/sass/
******************************************/
/*****************************************
 * px→remの計算
 * 参考
 * https: //webdou.net/sass-rem/
 * Sassではmath.div関数の使用が推奨のため、スラッシュ(/)演算子から変更
******************************************/
/*****************************************
 * vwの計算
 * 参考
 * https://webdou.net/sass-vw/
 * Sassではmath.div関数の使用が推奨のため、スラッシュ(/)演算子から変更
******************************************/
html {
  font-size: 16px;
}
@media (max-width: 375px) {
  html {
    font-size: 4.2666666667vw;
  }
}
@media screen and (min-width: 768px) {
  html {
    font-size: 1.3333333333vw;
  }
}
@media (min-width: 1200px) {
  html {
    font-size: 16px;
  }
}

body {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  color: #333;
}

a {
  text-decoration: none;
  color: inherit;
  transition: opacity 0.3s;
}

@media screen and (min-width: 768px) {
  a:hover {
    opacity: 0.8;
  }
}

.l-inner {
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .l-inner {
    padding-right: 25px;
    padding-left: 25px;
    max-width: 1250px;
  }
}

.l-pager {
  margin-top: 2rem;
}

.l-post-connect {
  margin-top: 1rem;
}

.c-breadcrumb {
  padding: 1rem 0;
}

.c-breadcrumb a {
  color: #2589d0;
}

.c-btn {
  display: inline-block;
  min-width: 200px;
  padding: 10px 20px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  background-color: #2589d0;
  border: 1px solid #2589d0;
  transition: 0.3s;
}

.c-btn::after {
  content: "";
  display: inline-block;
  margin-left: 16px;
  width: 10px;
  height: 10px;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  transform: rotate(45deg);
  transition: 0.3s;
}

.c-btn:hover {
  text-decoration: none;
  background-color: #fff;
  color: #2589d0;
  opacity: 1;
  cursor: pointer;
}

.c-btn:hover::after {
  border-top: 1px solid #2589d0;
  border-right: 1px solid #2589d0;
  transform: translateX(5px) rotate(45deg);
}

.c-title {
  font-size: 1.5rem;
  color: black;
}
@media screen and (min-width: 768px) {
  .c-title {
    color: red;
  }
}
@media screen and (min-width: 1000px) {
  .c-title {
    color: blue;
  }
}
@media screen and (min-width: 1200px) {
  .c-title {
    color: green;
  }
}

.p-404__title {
  text-align: center;
}

.p-404__btn {
  text-align: center;
}

.p-contact__head {
  width: 15.625rem;
}

.p-contact__item {
  margin-top: 0.375rem;
}

.p-contact__item-example {
  margin-top: 0.375rem;
  color: gray;
}

.p-contact__required {
  color: red;
  padding-left: 1em;
}

.p-contact__policy,
.p-contact__content,
.p-contact__btn {
  margin: 1.5rem 0;
}

.p-contact__policy-link {
  color: blue;
  transition: all 0.3s;
}

.p-contact__btn-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .p-contact__btn-wrap {
    flex-direction: row;
    gap: 2.5rem;
  }
}

.p-contact__btn {
  display: inline-block;
  text-align: center;
}

.p-contact__item-text,
.p-contact__item-tel,
.p-contact__item-email,
.p-contact__item-textarea,
.p-contact__item-select {
  margin: 0;
  padding: 0.8em;
  border: 1px solid rgba(0, 0, 0, 0.16);
  border-radius: 0;
  outline: none;
  background: none;
  background-color: transparent;
  font-size: 1rem;
  color: inherit;
  font-family: inherit;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
}

.p-contact__item-text:focus,
.p-contact__item-tel:focus,
.p-contact__item-email:focus,
.p-contact__item-textarea:focus,
.p-contact__item-select:focus {
  border: 1px solid rgba(0, 0, 0, 0.7);
  box-shadow: none;
  outline: none;
}

.p-contact__item-textarea {
  height: 200px;
  resize: none;
  overflow: auto;
}

.p-contact__item-message {
  white-space: pre-wrap;
}

.p-contact__item-select {
  padding-right: 3em;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAALJJREFUeNrslssNgCAQRCmB0ijBEuyEEijBEijBEizBEnAPy0UBWVj8JDvJJB5w3gsXVUoikXwsBrpAPdRCNcOmxi2P2yZ3cIKGU9dOCY0b590pdXhPHOyRyMEDsi4JhVIlSvBYTRGgSNTAQ+pFyyBRC7e5AdchUQt3d1fYIsEGb5Fgh1MktlFwisQwOIeE4/pGuDfhLRLscIrEMHiNxHB4SeIxeMyMPxkenyUSyT9zCDAAj5btZ4c3zaUAAAAASUVORK5CYII=");
  background-repeat: no-repeat;
  background-size: 1em;
  background-position: right 0.5em center;
  color: inherit;
}

.p-contact__item-select:invalid {
  color: rgba(0, 0, 0, 0.32);
}

.p-contact__item-select select::-ms-expand {
  display: none;
}

.p-contact__item-radio input[type=radio],
.p-contact__item-checkbox input[type=checkbox] {
  opacity: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.p-contact__item-radio input[type=radio] + span,
.p-contact__item-checkbox input[type=checkbox] + span {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding: 0.5em 1em 0.5em 1.5em;
  color: #333;
  font-size: 1rem;
}

.p-contact__item-radio input[type=radio]:focus + span,
.p-contact__item-checkbox input[type=checkbox]:focus + span {
  opacity: 0.7;
}

.p-contact__item-radio input[type=radio] + span::before,
.p-contact__item-checkbox input[type=checkbox] + span::before {
  position: absolute;
  top: 50%;
  left: 0;
  width: 1em;
  height: 1em;
  content: "";
  transform: translateY(-50%);
  background: white;
  border: 1px solid black;
}

.p-contact__item-checkbox input[type=checkbox]:checked + span::before {
  background: #333;
}

.p-contact__item-radio input[type=radio]:checked + span::before {
  background: white;
}

.p-contact__item-radio input[type=radio] + span::before {
  border-radius: 50%;
}

.p-contact__item-radio input[type=radio] + span::after {
  position: absolute;
  content: "";
  background: #333;
  border: 1px solid transparent;
  border-radius: 50%;
  height: 0.5em;
  left: 0.25em;
  opacity: 0;
  padding: 0.125em;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.3s ease 0s;
  width: 0.5em;
}

.p-contact__item-checkbox input[type=checkbox] + span::after {
  border-bottom: 2px solid white;
  border-left: 2px solid white;
  content: "";
  display: block;
  height: 0.35em;
  left: 0.15em;
  margin-top: -0.1em;
  opacity: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
  transition: all 0.3s ease 0s;
  width: 0.8em;
}

.p-contact__item-checkbox input[type=checkbox]:checked + span::after,
.p-contact__item-radio input[type=radio]:checked + span::after {
  opacity: 1;
}

/* button */
.p-contact__btn input[type=submit],
.p-contact__btn input[type=button] {
  display: inline-block;
  margin: 0;
  padding: 0.5em 2em;
  -webkit-box-sizing: content-box;
  -webkit-appearance: button;
  background: rgba(0, 0, 0, 0.32);
  color: #333;
  -moz-appearance: button;
       appearance: button;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 0;
  border: none;
  transition: all 0.3s;
}

.p-contact__btn input[type=submit]:hover,
.p-contact__btn input[type=button]:hover,
.p-contact__btn input[type=submit]:focus,
.p-contact__btn input[type=button]:focus {
  outline: none;
  opacity: 0.7;
}

.p-contact__item,
.p-contact__btn-submit {
  min-width: 9.375rem;
}

.wpcf7-spinner {
  position: absolute;
}

.p-pager-list {
  display: flex;
  justify-content: space-between;
}

.p-pager-list__btn a {
  display: inline-block;
  padding: 10px 20px;
  color: #2589d0;
  border: 1px solid #2589d0;
}

.p-post-article__inner.l-inner {
  margin-top: 2rem;
}

.p-post-article__title {
  font-size: 3rem;
  color: #2589d0;
}

.p-post-article__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.p-post-article__category {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3125rem;
}

.p-post-article__category li {
  padding: 0.3125rem;
  color: #2589d0;
  border: 1px solid #2589d0;
}

.p-post-article__box {
  margin: 6.4rem auto 0;
}

.p-post-article__content {
  padding: 1.25rem 1.4375rem 0;
  background-color: #fff;
  width: 100%;
}

.p-post-article__content-wrap {
  padding-bottom: 1.875rem;
  width: 100%;
  margin: auto;
}

.p-post-article__contents {
  margin-top: 1.875rem;
}

.p-post-article__main-img {
  aspect-ratio: 7/4;
}

.p-post-article__main-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.p-post-article__category {
  letter-spacing: 0;
}

.p-post-article__data {
  margin-left: auto;
  font-size: 1.3125rem;
  text-align: right;
  letter-spacing: 0.05em;
}

.p-post-article__content h2 {
  margin: 1.875rem 0 0.9375rem;
  padding: 0.3125rem 1.25rem;
  color: #fff;
  background-color: #2589d0;
  font-size: 1.75rem;
}

.p-post-article__contents h3 {
  margin: 1.875rem 0 0.9375rem;
  padding-left: 0.625rem;
  color: #2589d0;
  font-size: 1.75rem;
  border-left: 0.5em solid #2589d0;
}

.p-post-article__contents h4 {
  margin: 0.625rem 0;
  font-size: 1.5rem;
}

.p-post-article__contents h5 {
  margin: 0.625rem 0;
  padding: 0.125rem 0.78125rem;
  display: inline-block;
  color: #2589d0;
  font-size: 1.25rem;
  border-top: 2px solid #2589d0;
  border-bottom: 2px solid #2589d0;
}

.p-post-article__contents p {
  font-size: 1.25rem;
}

.p-post-article__contents a {
  color: #2589d0;
  text-decoration: underline;
}

.p-post-article__contents img {
  margin: 0.625rem 0;
}

.p-post-article__contents figure {
  margin: 0.625rem 0;
}

.p-post-article__contents figcaption {
  margin: 0.625rem 0;
  font-size: 0.75rem;
}

.p-post-card__img {
  width: 100%;
  aspect-ratio: 400/300;
}

.p-post-card__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.p-post-card__body {
  position: relative;
}

.p-post-card__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0;
}

.p-post-card__category li {
  padding: 0.3125rem;
  color: #2589d0;
  border: 1px solid #2589d0;
}

.p-post-card__new {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  color: #2589d0;
  padding: 0.3125rem 0.625rem;
  border: 1px solid #2589d0;
}

.p-post-connect__title {
  font-size: 1.5rem;
  color: #2589d0;
}

.p-post-connect__items {
  display: grid;
  gap: 3.125rem;
  margin-top: 1rem;
}
@media screen and (min-width: 768px) {
  .p-post-connect__items {
    row-gap: 2.5rem;
    -moz-column-gap: 1.25rem;
         column-gap: 1.25rem;
    grid-template-columns: repeat(4, 1fr);
  }
}

.p-post-list {
  position: relative;
}

.p-post-list__wrap {
  margin: 2rem 0;
}

.p-post-list__title {
  font-size: 3rem;
  color: #2589d0;
}

.p-post-list__items {
  display: grid;
  gap: 3.125rem;
  margin-top: 1rem;
}
@media screen and (min-width: 768px) {
  .p-post-list__items {
    row-gap: 2.5rem;
    -moz-column-gap: 1.25rem;
         column-gap: 1.25rem;
    grid-template-columns: repeat(4, 1fr);
  }
}

.p-post-list__cards {
  margin-top: 3rem;
}
@media screen and (min-width: 768px) {
  .p-post-list__cards {
    margin-top: 6.25rem;
  }
}

.p-post-list__btn {
  margin-top: 1.25rem;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .p-post-list__btn {
    margin: 1.75rem auto 0;
    width: 100%;
    max-width: calc(61.25rem + 50px);
    padding: 0 0.625rem;
  }
}

.p-top-gallery__inner {
  margin: 5% 5% 0 5%;
}

.p-top-gallery .splide__slide {
  display: block;
  width: 100%;
  aspect-ratio: 600/300;
}

.p-top-gallery .splide__slide picture {
  height: inherit;
  height: 100%;
}

.p-top-gallery .splide__slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.p-top-gallery .swiper-slide {
  display: block;
  width: 100%;
  aspect-ratio: 600/300;
}

.p-top-gallery .swiper-slide picture {
  height: inherit;
  height: 100%;
}

.p-top-gallery .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.p-top-gallery .slick-track {
  display: block;
  width: 100%;
}

.p-top-gallery .slick-slide {
  display: block;
  width: 100%;
  aspect-ratio: 600/300;
  margin: 0 5px;
}

.p-top-gallery .slick-slide picture {
  height: inherit;
  height: 100%;
}

.p-top-gallery .slick-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.p-top-mv-slick {
  background: black;
}

.p-top-mv-slick__inner {
  margin: 5% 5% 0 5%;
}

.p-top-mv-slick .slick-track {
  display: block;
  width: 100%;
}

.p-top-mv-slick .slick-slide {
  display: block;
  width: 100%;
  aspect-ratio: 600/300;
  margin: 0 5px;
}

.p-top-mv-slick .slick-slide picture {
  height: inherit;
  height: 100%;
}

.p-top-mv-slick .slick-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.p-top-mv-splide__inner {
  margin: 5% 5% 0 5%;
}

.p-top-mv-splide .splide__slide {
  display: block;
  width: 100%;
  aspect-ratio: 600/300;
}

.p-top-mv-splide .splide__slide picture {
  height: inherit;
  height: 100%;
}

.p-top-mv-splide .splide__slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.p-top-mv-swiper__inner {
  margin: 5% 5% 0 5%;
}

.p-top-mv-swiper .swiper-slide {
  display: block;
  width: 100%;
  aspect-ratio: 600/300;
}

.p-top-mv-swiper .swiper-slide picture {
  height: inherit;
  height: 100%;
}

.p-top-mv-swiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.p-top-mv-swiper .swiper-button-prev,
.p-top-mv-swiper .swiper-button-next {
  text-rendering: initial;
}

.p-top-post__inner {
  margin: 5% 5% 0 5%;
}

.p-top-post .splide__slide {
  display: block;
  width: 100%;
}

.p-top-post .splide__slide a {
  display: block;
  aspect-ratio: 600/400;
}

.p-top-post .splide__slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.p-top-post .splide__pagination {
  bottom: -2em;
}

.p-top-post .splide__pagination__page.is-active {
  background-color: blue;
}

.p-top-post .swiper {
  padding-bottom: 20px;
}

.p-top-post .swiper-slide {
  display: block;
  width: 100%;
  aspect-ratio: 600/300;
}

.p-top-post .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.p-top-post .swiper-pagination {
  bottom: 0;
}

.p-top-post .swiper-button-prev,
.p-top-post .swiper-button-next {
  text-rendering: initial;
}

.p-top-post .slick-track {
  display: block;
  width: 100%;
}

.p-top-post .slick-slide {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0 5px;
}

.p-top-post .slick-slide img {
  display: block;
  width: 100%;
  height: 100%;
  aspect-ratio: 600/300;
  -o-object-fit: cover;
     object-fit: cover;
}

.p-top-post .slick-next,
.p-top-post .slick-prev {
  background: gray;
}

.p-top-works {
  padding-bottom: 3.125rem;
}

.p-top-works__inner {
  margin: 5% 5% 0 5%;
}

.p-top-works .splide__slide {
  display: block;
  width: 100%;
}

.p-top-works .splide__slide a {
  display: block;
  aspect-ratio: 600/400;
}

.p-top-works .splide__slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.p-top-works .splide__pagination {
  bottom: -2em;
}

.p-top-works .splide__pagination__page.is-active {
  background-color: blue;
}

.p-top-works .swiper {
  padding-bottom: 20px;
}

.p-top-works .swiper-slide {
  display: block;
  width: 100%;
  aspect-ratio: 600/300;
}

.p-top-works .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.p-top-works .swiper-pagination {
  bottom: 0;
}

.p-top-works .swiper-button-prev,
.p-top-works .swiper-button-next {
  text-rendering: initial;
}

.p-top-works .slick-track {
  display: block;
  width: 100%;
}

.p-top-works .slick-slide {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0 5px;
}

.p-top-works .slick-slide img {
  display: block;
  width: 100%;
  height: 100%;
  aspect-ratio: 600/300;
  -o-object-fit: cover;
     object-fit: cover;
}

.p-top-works .slick-next,
.p-top-works .slick-prev {
  background: gray;
}

.pagination {
  width: 100%;
}
.nav-links ul {
  display: flex;
  justify-content: center;
}

.nav-links ul li a,
.nav-links ul li span {
  color: #2589d0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 1rem;
}
@media screen and (min-width: 768px) {
  .nav-links ul li a,
  .nav-links ul li span {
    font-size: 1.5rem;
  }
}

.nav-links ul li span.current {
  color: #333;
}

.nav-links ul li {
  position: relative;
  margin: 0 0.3125rem;
}
@media screen and (min-width: 768px) {
  .nav-links ul li {
    margin: 0 0.625rem;
  }
}

.nav-links ul li a,
.nav-links ul li span {
  display: block;
  width: 100%;
  padding: 0.3125rem;
}
@media screen and (min-width: 768px) {
  .nav-links ul li a,
  .nav-links ul li span {
    padding: 0.625rem;
  }
}

.nav-links ul li .nav-links ul .dots {
  padding-right: 0;
  padding-left: 0;
}
/*# sourceMappingURL=style.css.map */
