@use "global" as *;

.archive-sub-title {
  position: relative;
  border-left: rem(8) solid $black;
  padding: rem(7) rem(35) rem(7) rem(75);
}

.archive-sub-title::before {
  display: inline-block;
  position: absolute;
  content: "";
  top: 50%;
  left: rem(40);
  transform: translate(-50%, -50%);
  height: rem(50);
  width: rem(50);
  background-image: url(../images/common/archive-sub-title-img.svg);
  background-size: contain;
  background-repeat: no-repeat;

}

.archive-sub-title__title {
  font-size: rem(24);
  color: $gray3;
}
