@use "global" as *;

.archive-lists {
  font-size: rem(24);
}

.archive-lists__year {
  position: relative;
  color: $black;
  padding-left: rem(32);
}

.archive-lists__year::before {
  border-bottom: rem(10) solid transparent;
  border-left: rem(15) solid $black;
  border-top: rem(10) solid transparent;
  bottom: 0;
  content: "";
  height: 0;
  // margin: auto;
  position: absolute;
  left: rem(10);
  top: rem(7);
  width: 0; /* IE崩れ防止 */
  transform: rotate(90deg);
  transition: transform .3s;
}

.archive-lists__year.open::before {
  transform: rotate(0deg);

}

.archive-lists__month {
  position: relative;
  padding-left: rem(20);
}

.archive-lists__month + .archive-lists__month {
  margin-top: rem(4);
}

.archive-lists__month::before {
  border-bottom: rem(10) solid transparent;
  border-left: rem(15) solid $black;
  border-top: rem(10) solid transparent;
  bottom: 0;
  content: "";
  height: 0;
  // margin: auto;
  position: absolute;
  left: rem(0);
  top: rem(5);
  width: 0; /* IE崩れ防止 */
}