@use "global" as *;

.archive-campaign__tab {
  position: relative;
  @include mq(md) {
  }
}

.archive-campaign__tab::before {
  background-image: url(../images/common/sp-tab-img.png);
  content: "";
  position: absolute;
  left: calc(50% - min(48.7vw, 39.9rem));
  top: rem(-22);
  width: rem(120);
  height: rem(55);
  background-image: url(../images/common/pc-voice-fish.png);
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  z-index: -1;
  @include mq(md) {
    top: rem(-80);
    width: rem(301);
    height: rem(138);
  }
}

.archive-campaign__cards {
  margin-top: rem(40);
  margin: 0 auto;
  // max-width: rem(280);
  // padding: 0 rem(32);
  @include mq("md") {
    padding: 0;
    max-width: initial;
  }
}

.archive-campaign__pagenav {
  margin-top: rem(80);
}
