@use "global" as *;

.block-2col__inner {
  position: relative;
  @include mq(md) {
    display: flex;
    gap: rem(80);
  }
}

.block-2col__inner::before {
  background-image: url(../images/common/sp-tab-img.png);
  content: "";
  position: absolute;
  left: calc(50% - min(48.7vw, 39.9rem));
  top: rem(-40);
  width: rem(120);
  height: rem(55);
  background-image: url(../images/common/pc-voice-fish.png);
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  z-index: -1;
  @include mq(md) {
    top: rem(-80);
    width: rem(301);
    height: rem(138);
  }
}

.block-2col__main {
  max-width: rem(600);
  margin-inline: auto;
  @include mq(md) {
    width: 100%;
    max-width: calc(707 / 1080) * 100%;
  }
}

.block-2col__side {
  max-width: calc(294 / 345) * 100%;
  margin-inline: auto;
  @include mq(md) {
    width: 100%;
    max-width: calc(294 / 1080) * 100%;
  }
}
