@use "global" as *;

.contact__inner {
  width: 100%;
  padding-right: rem(40);
  padding-left: rem(40);
  margin-right: auto;
  margin-left: auto;
  @include mq("md") {
    max-width: $inner + strip-unit($padding-pc) * 2;
    padding-right: $padding-pc;
    padding-left: $padding-pc;
  }
}

.contact__container {
  position: relative;
  @include mq(md) {
    padding: rem(80) rem(112) rem(80) rem(50);
    display: flex;
    align-items: center;
    gap: rem(82);
    box-shadow: rem(4) rem(4) rem(10) rgba($color: $black2, $alpha: 0.25);
  }
}

.contact__container::before {
  content: "";
  position: absolute;
  top: rem(-26);
  right: calc(35% - min(35.7vw, 50rem));
  width: rem(109);
  height: rem(50);
  background-image: url(../images/common/pc-contact-fish.png);
  background-repeat: no-repeat;
  background-size: contain;
  @include mq(md) {
    right: calc(50% - min(48.7vw, 39.9rem));
    width: rem(301);
    height: rem(138);
    top: rem(-32);
  }
}

.contact__left {
  width: 100%;
  @include mq(md) {
    padding-right: rem(82);
    border-right: rem(1) solid $black;
  }
}

.contact__logo-wrap {
  border-bottom: rem(1) solid $black;
}

.contact__logo {
  width: rem(174);
  margin-inline: auto;
  text-align: center;
  display: block;
  @include mq(md) {
    width: rem(200);
    padding: rem(8) 0 0;
  }
}
.contact__logo img {
  display: inline-block;
}

.contact__box {
  margin-top: rem(16);
  text-align: center;
  @include mq(md) {
    display: flex;
    margin-top: rem(22);
    text-align: left;
    gap: rem(21);
  }
}

.contact__address {
  font-size: rem(16);
  line-height: calc(24 / 16);
  font-weight: $regular;
  width: 100%;
  color: $gray3;
  @include mq(md) {
    width: calc(146 / 440) * 100%;
    flex-shrink: 0;
  }
}

.contact__list {
  font-family: "Noto Sans Jp";
  @include mq(md) {
    white-space: nowrap;
  }
}

.contact__list + .contact__list {
  margin-top: rem(4);
  @include mq(md) {
  }
}

.contact__map {
  aspect-ratio: 295/160;
  margin-top: rem(16);
  width: 100%;
  @include mq(md) {
    aspect-ratio: 273/148;
    width: calc(273 / 440) * 100%;
    margin-left: auto;
    margin-top: 0;
  }
}

.contact__map iframe {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contact__right {
  margin-top: rem(32);
  @include mq(md) {
    margin-top: 0;
  }
}

.contact__text {
  font-size: rem(14);
  line-height: calc(18 / 14);
  color: $black;
  text-align: center;
  margin-top: rem(8);
  @include mq(md) {
  }
}

.contact__btn {
  margin-top: rem(40);
  text-align: center;
  @include mq(md) {
    position: relative;
    margin-top: rem(36);
  }
}
