@use "global" as *;


// footer
footer {
   font-family: 'Noto Sans Jp';
   background-color: $black;
    @include mq(md) {

    }
  }

  .footer__inner {
    margin: 0 auto;
    width: 100%;
    padding-right: $padding-sp;
    padding-left: $padding-sp;
    @include mq(md) {
    }
  }


  .footer__copyright {
    font-size: rem(12);
    line-height: calc(18/12);
    letter-spacing: 0.04em;
    display: block;
    margin-top: rem(40);
    text-align: center;
    color: $base;

    @include mq(md) {
      font-size: rem(14);
      line-height: calc(18/14);
      margin-top: rem(80);
    }
  }