@use "global" as *;

.gallery__container {
  position: relative;
  display: grid;
  gap: rem(8);
  margin-top: rem(40);
  @include mq(md) {
    margin-top: rem(80);
    grid-auto-flow: dense;
    grid-template-columns: repeat(11, 1fr);
  }
}

.gallery__container::before {
  @include mq(md) {
    background-image: url(../images/common/pc-contact-fish.png);
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    position: absolute;
    right: calc(50% - min(48.7vw, 39.9rem));
    width: rem(301);
    height: rem(138);
    top: rem(-224);
  }
}


.gallery__img {
  width: 100%;
  height: 100%;
  cursor: pointer;
  @include mq(md) {
  }
}

.gallery__container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery__img:nth-of-type(6n+1) {
  // width: 100%;
  aspect-ratio: 345 / 524;

  @include mq(md) {
    // max-width: rem(492);
    aspect-ratio: 492 / 746;
    grid-column: span 5;
    grid-row: span 2;
  }
}
// .gallery__img:nth-of-type(6n+2) img {
//   @include mq(md) {
//     aspect-ratio: 369 / 580;

//   }
// }

.gallery__img:nth-of-type(6n+2) {
  // width: 100%;
  // grid-row: span 1;
  aspect-ratio: 345/219;

  @include mq(md) {
    // max-width: rem(580);
    aspect-ratio: 580 / 369;
    // grid-column: 2 / 3;
    // grid-row: 1 / 2;
    grid-column: span 6;
    grid-row: span 1;
  }
}

.gallery__img:nth-of-type(6n+3) {
  // width: 100%;
  aspect-ratio: 345/219;

  @include mq(md) {
    // max-width: rem(580);
    aspect-ratio: 580 / 369;
    // grid-column: 2 / 3;
    // grid-row: 2 / 3;
    grid-column: span 6;
    grid-row: span 1;
  }
}

.gallery__img:nth-of-type(6n+4) {
  // width: 100%;
  aspect-ratio: 345/219;

  @include mq(md) {
    // max-width: rem(580);
    aspect-ratio: 580 / 369;
    // aspect-ratio: 746 / 492;

    // grid-column: 2 / 3;
    // grid-row: 2 / 3;
    grid-column: span 6;
    grid-row: span 1;
  }
}
.gallery__img:nth-of-type(6n+5) {
  // width: 100%;
  aspect-ratio: 345/219;

  @include mq(md) {
    // max-width: rem(580);
    aspect-ratio: 580 / 369;
    // grid-column: 2 / 3;
    // grid-row: 2 / 3;
    grid-column: span 6;
    grid-row: span 1;
  }
}
.gallery__img:nth-of-type(6n+6) {
    aspect-ratio: 345 / 524;
    // width: 100%;
  // aspect-ratio: 746 / 492;
  @include mq(md) {
    aspect-ratio: 746 / 492;
    grid-column: span 5;
    grid-row: span 2;
  }
}
