@use "global" as *;

// メインビュー
.mv {
  width: 100%;
  height: 100vh;
}

.mv__inner {
  position: relative;
  width: 100%;
  height: inherit;
}

.mv__slider,
.mv__slider .swiper-wrapper,
.mv__slider .swiper-slide {
  height: inherit;
}

.mv__slider .swiper-slide picture,
.mv__slider .swiper-slide img {
  height: inherit;
  aspect-ratio: 375 / 667;
  object-fit: cover;
  @include mq(md) {
    aspect-ratio: 1440 / 768;
  }
}

.mv__title-wrap {
  position: absolute;
  text-align: center;
  z-index: 10;
  font-family: $third-font-family;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: $base;
  font-weight: $normal;
  line-height: calc(28 / 28);
  @include mq("md") {
    top: 50%;
    left: 50%;
  }
}

.mv__title {
  font-size: rem(40);
  letter-spacing: 0.54em;
  text-indent: 0.54em;

  @include mq("md") {
    font-size: rem(80);
    line-height: calc(100 / 80);
  }
}

.mv__sub-title {
  margin-top: rem(10);
  font-family: $base-font-family;
  font-size: rem(20);
  @include mq("md") {
  }
}
