@use "global" as *;

.page-privacypolicy {
  position: relative;
}

.page-privacypolicy::before {
  background-image: url(../images/common/sp-tab-img.png);
  content: "";
  position: absolute;
  left: calc(50% - min(48.7vw, 39.9rem));
  top: rem(-24);
  width: rem(120);
  height: rem(55);
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  @include mq(md) {
    top: rem(-80);
    width: rem(301);
    height: rem(138);
  }
}

.page-privacypolicy__inner {
  max-width: rem(830);
  margin-inline: auto;
  padding-right: $padding-sp;
  padding-left: $padding-sp;
  margin-right: auto;
  margin-left: auto;
  color: $gray3;
  font-family: "Noto Sans JP";
}

.page-privacypolicy__title {
  font-size: rem(24);
  @include mq(md){
    font-size: rem(32);
  }
}

.page-privacypolicy__content {
  margin-top: rem(40);
  font-size: rem(16);
  line-height: calc(32 / 16);
  letter-spacing: 0.04em;
  @include mq(md){
    font-size: rem(12);
  
  }
}

.page-privacypolicy ol {
  list-style: revert;
  margin-left: rem(20);
}

.page-privacypolicy ul {
}

.page-privacypolicy__content ol:nth-of-type(1) {
  margin-top: rem(32);
}

.page-privacypolicy__content p:not(:first-child) {
  margin-top: rem(34);
}
