@use "global" as *;

.page-information__btn-wrap {
  position: relative;
  display: grid;
  gap: rem(20);
  grid-template-columns: repeat(3, 1fr);
  @include mq(md) {
    gap: rem(90);
  }
}

.page-information__btn-wrap::before {
  background-image: url(../images/common/sp-tab-img.png);
  content: "";
  position: absolute;
  left: calc(50% - min(48.7vw, 39.9rem));
  top: rem(-96);
  width: rem(120);
  height: rem(55);
  background-image: url(../images/common/pc-voice-fish.png);
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  @include mq(md) {
    top: rem(-80);
    width: rem(301);
    height: rem(138);
  }
}

.page-information__content {
  display: none;
}

.page-information__content.is-active {
  display: block;
}

.page-information__content-wrap {
  margin-top: rem(16);
  padding: rem(24);
  border: rem(1) solid $black;

  @include mq(md) {
    display: flex;
    align-items: center;
    gap: rem(48);
  }
}

.page-information__img {
  aspect-ratio: 297/189;
  height: 100%;
  width: 100%;
  margin-top: rem(8);
  @include mq(md) {
    margin-top: 0;
    max-width: calc(492 / 1032) * 100%;
  }
}

.page-information__img img {
  aspect-ratio: 297/189;
  object-fit: cover;
}

.page-information__box {
  color: $gray3;
  @include mq(md) {
    width: 50%;
  }
}

.page-information__sub-title {
  font-size: rem(24);
  line-height: calc(24 / 20);
  font-weight: $bold;
  border-bottom: rem(1) solid $black;
  @include mq(md) {
    font-size: rem(24);
    line-height: calc(24 / 24);
    padding-bottom: rem(8);
  }
}

.page-information__text {
  font-size: rem(16);
  line-height: calc(24 / 16);
  margin-top: rem(8);
}
