@use "global" as *;

.page-price-item__item {
  font-family: "Noto Sans JP";
  border-bottom: rem(1) solid $black;
  border-right: rem(1) solid $black;
  padding: rem(6) rem(16);
  display: flex;
  gap: rem(8);
  min-height: rem(60);
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: rem(16);
  line-height: calc(24 / 16);
  @include mq(md) {
    padding: rem(16);
  }
}
.page-price-item__item.page-price-item__item--left {
  min-width: rem(240);
  @include mq(md) {
    justify-content: flex-start;
  }
}

.page-price-item__item.page-price-item__item--right {
  min-width: rem(106);
  justify-content: flex-end;
  @include mq(md) {
  }
}

.page-price-item__title {
  font-size: rem(16);
  line-height: calc(24 / 16);
}

.page-price-item__item:nth-child(2),
.page-price-item__item:nth-child(3) {
  @include mq(md) {
    border-top: 1px solid $black;
  }
}
.page-price-item__item:nth-child(2n) {
  border-left: 1px solid $black;
}

.page-price-item__item:nth(n + 1) {
  width: 40%;
}

.page-price-item__header {
  border-top: rem(1) solid $black;
  border-left: rem(1) solid $black;
  grid-column: span 2; /* 2行に結合 */
  grid-row: 1; /* 1列目に配置 */
  display: flex;
  align-items: center;
  background-color: $black;
  color: $base;
  text-align: center;
  justify-content: center;
  min-height: initial;
  @include mq(md) {
    flex-direction: column-reverse;
    grid-row: span 3; /* 3行に結合 */
    grid-column: 1; /* 1列目に配置 */
  }
}

.page-price-item__header.page-price-item__header--4row {
  grid-row: span 4; /* 3行に結合 */
}

.page-price-item__header img {
  width: rem(24);
  height: rem(24);
  @include mq(md) {
    width: rem(64);
    height: rem(64);
  }
}

.page-price-item__content + page-price-item__content {
  margin-top: rem(40);
  @include mq(md) {
    margin-top: rem(80);
  }
}
