@use "global" as *;

// スムーススクロール
.page-top {
  position: relative;
  height: rem(48);
  width: rem(48);
  position: fixed;
  right: rem(15);
  bottom: rem(15);
  z-index: 2;
  cursor: pointer;

  @include mq(md) {
    right: rem(20);
    bottom: rem(20);
    height: rem(80);
    width: rem(80);
  }
}
