@use "global" as *;

.page-aboutus {
  position: relative;
}

.page-aboutus::before {
  background-image: url(../images/common/sp-tab-img.png);
  content: "";
  position: absolute;
  left: calc(50% - min(48.7vw, 39.9rem));
  top: rem(-28);
  width: rem(120);
  height: rem(55);
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  @include mq(md) {
    top: rem(-144);
    width: rem(301);
    height: rem(138);
  }
}

.page-aboutus__inner {
  position: relative;
}

.page-aboutus__img-box {
  @include mq(md){
    display: flex;
    justify-content: space-between;
  }
}

.page-aboutus__left-img {
  display: none;
  @include mq(md) {
    display: block;
    aspect-ratio: 128/194;
    height: 100%;
    width: 100%;
    max-width: calc(128 / 345) * 100%;
    margin-top: rem(-80);
  }
}

.page-aboutus__left-img img {
  aspect-ratio: 128/194;
  object-fit: cover;
}

.page-aboutus__right-img {
  z-index: -1;
  position: relative;
  aspect-ratio: 281/186;
  height: 100%;
  width: 100%;
  @include mq(md) {
    margin-left: -19%;
    aspect-ratio: 880/581;
    max-width: calc(880 / 1080) * 100%;
  }
}

.page-aboutus__right-img img {
  aspect-ratio: 281/186;
  @include mq(md) {
    aspect-ratio: 880/581;
  }
}

.page-aboutus__text-container {
  @include mq(md) {
    display: flex;
    gap: rem(40);
    align-items: center;
    position: absolute;
    top: 39%;
    left: 56%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: rem(840);
  }
}

.page-aboutus__text-title {
  position: absolute;
  top: 5%;
  left: 7%;
  font-size: rem(40);
  line-height: calc(40 / 40);
  font-weight: $regular;
  color: $base;
  @include mq(md) {
    width: 100%;
    position: initial;
    font-size: rem(80);
    line-height: calc(100 / 80);
    max-width: rem(400);
    margin-top: 0;
  }
}

.page-aboutus__text {
  width: 100%;
  color: $gray3;
  margin-top: rem(40);
  @include mq(md) {
    color: $base;
    max-width: rem(400);
    margin-top: 0;
  }
}
