@use "global" as *;

.page-price__inner.inner {
  display: grid;
  row-gap: rem(40);
  max-width: rem(750);
  @include mq(md){
    row-gap: rem(80);
  }
}

.page-price {
  position: relative;
}

.page-price::before {
  background-image: url(../images/common/sp-tab-img.png);
  content: "";
  position: absolute;
  left: calc(50% - min(48.7vw, 39.9rem));
  top: rem(-60);
  width: rem(120);
  height: rem(55);
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  @include mq(md) {
    top: rem(-72);
    width: rem(301);
    height: rem(138);
  }
}


// .page-price__container {
//   display: grid;
//   row-gap: rem(40);
//   @include mq(md){
//     row-gap: rem(80);

//   }
// }

.page-price__content {
  width: 100%;
  // max-width: rem(700);
  margin-inline: auto;
  grid-gap: 0;
  display: grid;
  grid-template-columns:repeat(2, auto);
  grid-template-rows:repeat(3, auto);
  @include mq(md){
    grid-template-columns: calc((200 / 700) * 100%) calc((340 / 700) * 100%) calc((162 / 700) * 100%);
    grid-template-rows: repeat(3, auto);
  }
}
