@use "global" as *;

.price {
  background-color: $gray2;
  color: $gray3;
}

.price__container {
  display: grid;
  margin-top: rem(28);
  grid-template-columns: repeat(1, auto);
  row-gap: rem(40);
  font-family: "Noto Sans JP";
  @include mq(md) {
    margin-top: rem(44);
    grid-template-columns: calc((492 / 1077) * 100%) calc((492 / 1077) * 100%);
    gap: rem(93);
  }
}

.price__left-side {
  row-gap: rem(40);
  order: 1;
  @include mq(md) {
    order: 2;
  }
}
.price__right-side {
  margin: 0 auto;
  @include mq(md) {
    order: 2;
  }
}

.price__items-title:not(:first-child) {
  margin-top: rem(44);
}

.price__items-title {
  font-size: rem(16);
  border-bottom: rem(1) solid $black;
  font-weight: bold;
}

.price__img {
  aspect-ratio: 746 / 492;
}
.price__img source {
  aspect-ratio: 746 / 492;
}

.price__btn {
  margin-top: rem(40);
  text-align: center;
  @include mq(md) {
    position: relative;
    margin-top: rem(80);
  }
}

.price__btn::before {
  display: none;
  @include mq(md) {
    content: "";
    position: absolute;
    left: calc(50% - min(48.7vw, 39.9rem));
    top: rem(-102);
    width: rem(437);
    height: rem(201);
    background-image: url(../images/common/pc-price-fish.png);
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
  }
}
