@use "global" as *;

.side-menu__blog {
  margin-top: rem(80);
  @include mq(md) {
    margin-top: 0;
  }
}

.side-menu__blog-cards {
  margin-top: rem(20);
  display: grid;
  row-gap: rem(24);
  grid-template-columns: repeat(1, auto);
  grid-template-rows: repeat(3, auto);
  @include mq(md) {
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(3, auto);
  }
}

.side-menu__content {
}

.side-menu__voice,
.side-menu__campaign,
.side-menu__archive {
  margin-top: rem(85);
}

.side-menu__voice-card {
  margin-top: rem(24);
}

.side-menu__campaign-cards {
  margin-top: rem(24);
  display: grid;
  row-gap: rem(40);
  grid-template-columns: repeat(1, auto);
  grid-template-rows: repeat(2, auto);
  @include mq(md) {
  }
}

.side-menu__archive-lists {
  margin-top: rem(24);
}

.side-menu__voice-button,
.side-menu__campaign-button {
  text-align: center;
  margin-top: rem(32);
}
