@use "global" as *;

.tab-items {
  display: grid;
  row-gap: rem(16);
  column-gap: rem(21);
  grid-template-columns: repeat(2, 1fr);
  @include mq("md") {
    display: flex;
    column-gap: rem(32);
    grid-template-columns: repeat(4, 1fr);
  }
}

.tab-items__item {
}



.tab-items__item a {
  font-size: rem(14);
  line-height: calc(22 / 14);
  color: $black;
  background-color: $base;
  padding: rem(5) rem(20);
  border: rem(1) solid $black;
  text-align: center;
  min-width: rem(162);
  display: block;
  width: 100%;
  cursor: pointer;
}

.tab-items__item.current a {
  background-color: $black;
  color: $base;
  border: rem(1) solid $black;
}

.tab-items__item.current a:hover {
  border: rem(1) solid $black;
}

.tab-items__item a:hover {
  background-color: $black;
  color: $base;
  z-index: 1;
  border: none;
  transition: 0.3s;
}

.tab-items__item + tab-items__item {
  @include mq("md") {
    margin-left: rem(32);
  }
}
