@use "global" as *;

.tab-button {
  background: $gray2;
  color: $black;
  display: inline-block;
  position: relative;
  font-weight: $regular;
  width: 100%;
  padding: rem(10);
  cursor: pointer;
  text-align: center;
  font-size: rem(14);
  @include mq(md) {
    padding: rem(26) rem(30);
    font-size: rem(24);
    text-align: right;
  }
}

.tab-button.tab-button--center {
  @include mq(md) {
    padding: rem(26) rem(16);
  }
}

.tab-button::before {
  @include mq(md) {
    display: inline-block;
    position: absolute;
    content: "";
    top: 50%;
    left: 18%;
    transform: translate(-50%, -50%);
    height: rem(64);
    width: rem(64);
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.tab-button:nth-child(1)::before {
  background-image: url(../images/common/pc-tab-button1-green.svg);
}

.tab-button:nth-child(2)::before {
  background-image: url(../images/common/pc-tab-button2.svg);
}

.tab-button:nth-child(3)::before {
  background-image: url(../images/common/pc-tab-button3.svg);
}

.tab-button.is-active {
  color: $base;
  background-color: $black;
  box-shadow: rem(4) rem(4) rem(8) rgba($color: $black2, $alpha: 0.25);
}

.tab-button.is-active:nth-child(1)::before {
  background-image: url(../images/common/pc-tab-button1.svg);
}
.tab-button.is-active:nth-child(2)::before {
  background-image: url(../images/common/pc-tab-button2-white.svg);
}
.tab-button.is-active:nth-child(3)::before {
  background-image: url(../images/common/pc-tab-button3-white.svg);
}
